.App {
  text-align: center;
}

.App-main {
  background-color: #909297;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.wrapper {
  display: flex;
  height: 400px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: baseline;
  padding: 40px;
}

h2 {
  margin: 0px;
}
